FORMAT: 1A
HOST: https://repository.agilesigner.com:8443/Agile27

# CertificateRepositoryAPI

API para banco de Firmas y generación de Certificados.

## Generar Certificado [/genCertificate]
Permite generar un certificado digital para una persona, retornando posteriormente un Base64 del X509

### Generar Solicitud de Certificado [POST]

+ Request (application/json)

        {
            "commonName": "Nombre Usuario Completo",
            "dni": "123123123",
            "cargo": "cargo usuario",
            "email": "email@dominio.cl"
        }

+ Response 200 (application/json)

        {
            "x509": "Base64"
        }
 
- Response 403
        
- Response 500
    

## Questions Collection [/questions]


### List All Questions [GET]

+ Response 200 (application/json)

        [
            {
                "question": "Favourite programming language?",
                "published_at": "2015-08-05T08:40:51.620Z",
                "choices": [
                    {
                        "choice": "Swift",
                        "votes": 2048
                    }, {
                        "choice": "Python",
                        "votes": 1024
                    }, {
                        "choice": "Objective-C",
                        "votes": 512
                    }, {
                        "choice": "Ruby",
                        "votes": 256
                    }
                ]
            }
        ]

### Create a New Question [POST]

You may create your own question using this action. It takes a JSON
object containing a question and a collection of answers in the
form of choices.

+ Request (application/json)

        {
            "question": "Favourite programming language?",
            "choices": [
                "Swift",
                "Python",
                "Objective-C",
                "Ruby"
            ]
        }

+ Response 201 (application/json)

    + Headers

            Location: /questions/2

    + Body

            {
                "question": "Favourite programming language?",
                "published_at": "2015-08-05T08:40:51.620Z",
                "choices": [
                    {
                        "choice": "Swift",
                        "votes": 0
                    }, {
                        "choice": "Python",
                        "votes": 0
                    }, {
                        "choice": "Objective-C",
                        "votes": 0
                    }, {
                        "choice": "Ruby",
                        "votes": 0
                    }
                ]
            }
