FORMAT: 1A
HOST: https://repository.agilesigner.com:8443/Agile27/admin

# CertificateRepositoryAPI

API para banco de Firmas y generación de Certificados.

## Authentication
    La autenticación en esta API es del tipo Basic Authentication, por lo que la aplicación que consuma la API debe proporcionar su applicationID y su password.

+ Authentication Schemes
    + basic (Generic Base)
        + Headers
            + Authentication: Basic abcd1234
            


## Solicitud de Certificado [/certificates]
Permite generar un certificado digital para una persona, retornando posteriormente un Base64 del X509

### Generar Solicitud de Certificado [POST]

+ Attributes (object)
    + Include User
    + Include CAinfo
    + certificateType (string, required) - Certificate type
    + expirationYears (string, required) - Certificate's expiration in ISO 8601 format
    + purpose (string) - Certificate's purpose


+ Request (application/json; charset=UTF-8)

            {
                "commonName": "JOHN DOE",
                "dni": "11111111-1",
                "cargo": "NADA",
                "organismo": "NADA",
                "entidad" : "NADA",
                "email": "example@agile.cl",
                "name": "TESTX",
                "entityProfile": "test",
                "certificateProfile": "SAI",
                "certificateType": "OTP",
                "expirationYears": "2016-01-15 13:13:13+00:00",    
                "purpose": "Samples"
            }
    

+ Response 201 (application/json; charset=UTF-8)
    + Attributes (Certificate)
    

 + Body
 
            {
                "x509":"-----BEGIN CERTIFICATE-----\nMIIDyjCCArKgAwIBAgIIVRV6HuolEoQwDQYJKoZIhvcNAQEFBQAwEDEOMAwGA1UEAwwFVEVTVFgwHhcNMTUwOTMwMTYyNjI4WhcNMTcwMTE1MTMxMzAwWjBZMSUwIwYJKoZIhvcNAQkBFhZjcmlzdGhpYW4ud29uQGFnaWxlLmNsMSMwIQYDVQQDDBpDUklTVEhJQU4gREFOSUVMIFdPTiBQT05DRTELMAkGA1UEBhMCQ0wwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQCsasnPihK7YecKyd14v2eThAfTuVcYte3peEqY/dbSfN5lZL/dgY5sNzIOug99ZY0AlJC3dHVSmd7YHbhocn/K1mUeIaLflNdNH6MfMvKFu1rocPq0tCzvB0T+niFSmmj4NUJTOsiN1tVWGqflxJGPGYsR3TPgPR4b5XhuMTxK/+jKH3LNUUC2nE+nR8ZW2UVG7VA0Sj/5bAms3sdJbb+gyAlZlvvIB7Ks+UFqoSi1+TcGeO458OEUv1n2yc+hXSWllaCjYQmpqApIpkF4vtsfz/8psp8BGy0xY3MlRNo3I6T1X15LyxpX63yu8+YjJYYOLMpxwCZ55bynrraInRQJAgMBAAGjgd4wgdswHQYDVR0OBBYEFA3zmZUVU+FWuxKZKt5zASSRw5NeMAwGA1UdEwEB/wQCMAAwHwYDVR0jBBgwFoAUn/gywKWCwbbiIRLFlEzj2X5bS04wIwYDVR0SBBwwGqAYBggrBgEEAcEBAqAMDApSVVQgSVNTVUVSMBIGA1UdIAQLMAkwBwYFYIEYCgEwDgYDVR0PAQH/BAQDAgXgMB0GA1UdJQQWMBQGCCsGAQUFBwMCBggrBgEFBQcDBDAjBgNVHREEHDAaoBgGCCsGAQQBwQEBoAwMCjE3NzUxNzcyLTAwDQYJKoZIhvcNAQEFBQADggEBAA/s5ux7kNW+zJqBIrFkpSUgOTivWq0LfkR963BVxP56+YSz5e4pcwo6cGGAojqIhojzs+eUMMD8mXswlnLeUkaTcZpEfclyL2lUFuv3upsCkzhVz0Y6VC27bR5ppmsA14ZI1t4xn7oqHqKnLGyhEGgrmnp5EjXjd3y+lDbQHBm3nC872mVG4p4nta7XPoALokFqVq2oTQaRG64kLqIg3y/mCvhGt6q99ECmbyCtwH6Cz96IhN06Al7yjzZHDsxguWzh0NPjMcLqZgWscdd4Na11zcTb13h1rzUQHf104C+84o/GUGRs6Fh9tvnE5tK0EWDMZAW2iFAy6S1wx1+FYKw=\n-----END CERTIFICATE-----\n-----BEGIN CERTIFICATE-----\nMIIDLDCCAhSgAwIBAgIIPzN4Ka6UY8EwDQYJKoZIhvcNAQEFBQAwEDEOMAwGA1UEAwwFVEVTVFgwHhcNMTUwODEyMTYwMTQ4WhcNMjUwODEyMTYwMTQ4WjAQMQ4wDAYDVQQDDAVURVNUWDCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAI/0EtPDUNbyWOhzRjIMY6dfO1wc8N+qZDQldeGF22J/NKCw7uAk/5gtBbXWJ74z0iJ8B0ZDK8R+WwsM59fYjSsfJ4alkIy4AEJweslPn4Qh01v7Y/9q/nbKzP087zarah5bV2TVUoSAxJo/TpOVQrSZLeW6NGXhFOo1BAmVxMNqpYatpguqb+kg+wcvHkY+koau5iu6kfNeo/er9lRSlDhN4mmsdrqplq2uc1+rGARAucix1whkwoiMbvoIrG6YRH1Qp3qvQgrk8i5NrZgpV2BuUuto3MgVOYsxH3YVSthoAsLN2E7IMdPJAM1sXAjCl6+oqLpUbrwXjNQCxFMz2EkCAwEAAaOBiTCBhjAdBgNVHQ4EFgQUn/gywKWCwbbiIRLFlEzj2X5bS04wDwYDVR0TAQH/BAUwAwEB/zAfBgNVHSMEGDAWgBSf+DLApYLBtuIhEsWUTOPZfltLTjAOBgNVHQ8BAf8EBAMCAYYwIwYDVR0RBBwwGqAYBggrBgEEAcEBAqAMDApSVVQgSVNTVUVSMA0GCSqGSIb3DQEBBQUAA4IBAQBDz7K4ABJEGWgm05owf3U604SlMx1Mk3GnwU1Kq3uki4HOtNVEfbF0nmJdGKNZS8HtijZcgSNAcwCEVht1ddfWRRuatQ5+1GM1up6e/POikBihbjYugNV76i7eVIgW2kuz0ecHf3vJWlmpxxUNAbfxBXsQMpBxMmp8jSOvIMKELFmVtPI18o3hBiKkalXch5zNis/vNvJn4jCyUUVokN+EiBpwyXLrhKrcfFkfdZWrOf2qw5gx5dhHuO43I0Bv2fQjDhv0KKEJ/sOShYUlMKPxTO7EY7tUvagQhF7atchj71qwUiXEYFRPNa+no7rOiBnYe+pRzx5WZlj4iGdbJvb1\n-----END CERTIFICATE-----"
            }
    

## Habilitación de Certificados [/certificates/{fp}/confirm]
Los certificados una vez validados por el ministro de fé, deben ser confirmados ante el banco de certificados para habilitar el uso de los mismos

+ Parameters
    + fp:1 (number,required) - Identificador único del certificado
    
### Habilitar Certificado [PUT]

+ Attributes (object)
    + hash (string, optional) - XML confirmation Hash is optional in attestor certificate

+ Request (application/json; charset=UTF-8)

+ Response 200

        El certificado ha sido correctamente confirmado y está disponible para usarse

+ Response 404

        El certificado no existe o no corresponde al usuario



## Solicitud de OTP [/certificates/{fp}/otp]
Para poder firmar con sus certificados (de tipo OTP) los ususarios deben obtener su secreto de "one time password" para 

+ Parameters
    + fp:1 (number,required) - Identificador único del certificado

### Solicitar OTP [GET]    

+ Response 200 (application/json; charset=UTF-8)
    + Attributes (object)
        + secret (string) - Certificate's OTP secret
        

 + Body

            {
                "secret": "OTPSecret"
            }

+ Response 409

        El certificado no es de tipo OTP

+ Response 500

        Error interno del Servidor
        
## Revocación de Certificado [/certificates/{fp}{?reason}]
Revoca un certificado, eliminando sus claves privadas y lo deja sin uso en el sistema.

+ Parameters
    + fp:1a6378b3c8fa1e (string, required) - Certificate's finger print
    + reason:1 (number,optional) - Revocation reason code

### Revocar Certificado [DELETE]

+ Response 204

+ Response 404

        El certificado no existe o no corresponde al usuario
        
+ Response 500

        Error interno del Servidor
        
        
# Data Structures

## Certificate (object)
+ x509 (string) - Certificate's pem in Base64 format

## User (object)
+ commonName (string, required) - User's common name 
+ dni (string, required) - User's unique identifier (xxx-x)
+ cargo (string) - User's position
+ organismo (string) - User's organism
+ entidad (string) - User's organism unit
+ email (string, required) - User's email address    

## CAinfo (object)
+ name (string, required) - CA name
+ entityProfile (string, required) - Entity Profile
+ certificateProfile (string, required) - Certificate Profile